# Python / venv / cache
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Banco local / instâncias
*.db
instance/
api/instance/

# Front (se usar futuramente)
node_modules/
dist/
build/
public/style/style.css

# SO / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
